@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

span {
  font-size: 14px;
  font-family: "Open Sans";
  color: #333;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.header {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(#ff9900));
  background: -o-linear-gradient(left, #fff, #ff9900);
  background: linear-gradient(to right, #fff, #ff9900);
  height: 45px;
}

.header__text {
  padding: 0 0 0 15px;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.content__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 29%;
          flex: 0 1 29%;
  background: lightsteelblue;
  line-height: 22px;
  border-radius: 10px;
  padding: 10px;
}

.content__column:nth-child(3n+3) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
}

.content__column-hidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  visibility: hidden;
  opacity: 0;
}

.content__column:hover .content__column-hidden {
  visibility: visible;
  opacity: 1;
}

.content__column button {
  margin: 20px auto;
  width: 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  height: 20px;
  font-size: 14px;
  font-family: "Open Sans";
  color: #333;
  font-weight: 700;
}

.footer {
  max-width: 100%;
  height: 45px;
  background-color: #FFCC66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1281px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__row {
    width: 1300px;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .content__row {
    width: 1300px;
    padding: 0 10px;
  }

  .footer__row {
    width: 1300px;
    padding: 0 10px;
  }
}

@media (max-width: 1020px) {
  .content__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
  }
}

@media (max-width: 550px) {
  .content__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}